<?xml version="1.0"?>
<!--
/**
 * @package Elidrissidev_Api2BasicAuth
 * @author  Mohamed ELIDRISSI <mohamed@elidrissi.dev>
 * @license https://opensource.org/licenses/MIT  MIT License
 */
-->
<config>
    <modules>
        <Elidrissidev_Api2BasicAuth>
            <version>1.0.2</version>
        </Elidrissidev_Api2BasicAuth>
    </modules>
    <global>
        <blocks>
            <elidrissidev_api2basicauth>
                <class>Elidrissidev_Api2BasicAuth_Block</class>
            </elidrissidev_api2basicauth>
        </blocks>
        <helpers>
            <elidrissidev_api2basicauth>
                <class>Elidrissidev_Api2BasicAuth_Helper</class>
            </elidrissidev_api2basicauth>
        </helpers>
        <models>
            <elidrissidev_api2basicauth>
                <class>Elidrissidev_Api2BasicAuth_Model</class>
                <resourceModel>elidrissidev_api2basicauth_resource</resourceModel>
            </elidrissidev_api2basicauth>
            <elidrissidev_api2basicauth_resource>
                <class>Elidrissidev_Api2BasicAuth_Model_Resource</class>
                <entities>
                    <restuser>
                        <table>elidrissidev_api2basicauth_restuser</table>
                    </restuser>
                    <acl_restuser>
                        <table>elidrissidev_api2basicauth_acl_restuser</table>
                    </acl_restuser>
                </entities>
            </elidrissidev_api2basicauth_resource>
        </models>
        <resources>
            <elidrissidev_api2basicauth_setup>
                <setup>
                    <module>Elidrissidev_Api2BasicAuth</module>
                </setup>
            </elidrissidev_api2basicauth_setup>
        </resources>
        <api2>
            <auth_adapters>
                <basic translate="label">
                    <model>elidrissidev_api2basicauth/auth_adapter_basic</model>
                    <label>Basic</label>
                    <enabled>1</enabled>
                    <order>20</order>
                </basic>
            </auth_adapters>
            <user_types>
                <restuser>
                    <model>elidrissidev_api2basicauth/auth_user_restuser</model>
                    <allowed>1</allowed>
                </restuser>
            </user_types>
        </api2>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <elidrissidev_api2basicauth before="Mage_Adminhtml">Elidrissidev_Api2BasicAuth_Adminhtml</elidrissidev_api2basicauth>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <elidrissidev_api2basicauth>
                    <file>elidrissidev_api2basicauth.xml</file>
                </elidrissidev_api2basicauth>
            </updates>
        </layout>
        <translate>
            <modules>
                <Elidrissidev_Api2BasicAuth>
                    <files>
                        <default>Elidrissidev_Api2BasicAuth.csv</default>
                    </files>
                </Elidrissidev_Api2BasicAuth>
            </modules>
        </translate>
    </adminhtml>
</config>
