<?xml version="1.0"?>
<config>
    <modules>
        <Elidrissidev_Api2BasicAuth>
            <version>1.0.0</version>
        </Elidrissidev_Api2BasicAuth>
    </modules>
    <global>
        <blocks>
            <elidrissidev_api2basicauth>
                <class>Elidrissidev_Api2BasicAuth_Block</class>
            </elidrissidev_api2basicauth>
        </blocks>
        <helpers>
            <elidrissidev_api2basicauth>
                <class>Elidrissidev_Api2BasicAuth_Helper</class>
            </elidrissidev_api2basicauth>
        </helpers>
        <models>
            <elidrissidev_api2basicauth>
                <class>Elidrissidev_Api2BasicAuth_Model</class>
                <resourceModel>elidrissidev_api2basicauth_resource</resourceModel>
            </elidrissidev_api2basicauth>
            <elidrissidev_api2basicauth_resource>
                <class>Elidrissidev_Api2BasicAuth_Model_Resource</class>
                <entities>
                    <user>
                        <table>elidrissidev_api2basicauth_user</table>
                    </user>
                    <acl_attribute>
                        <table>elidrissidev_api2basicauth_acl_attribute</table>
                    </acl_attribute>
                </entities>
            </elidrissidev_api2basicauth_resource>
        </models>
        <resources>
            <elidrissidev_api2basicauth_setup>
                <setup>
                    <module>Elidrissidev_Api2BasicAuth</module>
                </setup>
            </elidrissidev_api2basicauth_setup>
        </resources>
        <api2>
            <auth_adapters>
                <basic module="elidrissidev_api2basicauth" translate="label">
                    <model>elidrissidev_api2basicauth/auth_adapter_basic</model>
                    <label>Basic</label>
                    <enabled>1</enabled>
                    <order>20</order>
                </basic>
            </auth_adapters>
            <user_types>
                <apiuser>
                    <model>elidrissidev_api2basicauth/auth_user_apiuser</model>
                    <allowed>1</allowed>
                </apiuser>
            </user_types>
        </api2>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <elidrissidev_api2basicauth before="Mage_Adminhtml">Elidrissidev_Api2BasicAuth_Adminhtml</elidrissidev_api2basicauth>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <elidrissidev_api2basicauth>
                    <file>elidrissidev_api2basicauth.xml</file>
                </elidrissidev_api2basicauth>
            </updates>
        </layout>
    </adminhtml>
</config>
